body {
    margin-bottom: 10%;
    background-image: linear-gradient(rgb(104, 0, 104), rgb(58, 58, 58), rgb(29, 29, 29));
    color: white;
}

code {
	background-color: #383838;
    color: rgb(4, 245, 56);
    padding: 4px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(136, 136, 136);
}

.code-snippet {
    background-color: #383838;
    color: rgb(4, 245, 56);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(136, 136, 136);
}
